@charset "UTF8";
body{
    background-color: #fa0081;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0084;
}

h3{color: aliceblue;}

h2{
    color: white;
}

p{
    color:bisque;
    font-size:20px;
}

.casal{
    font-size: 25px;
    text-align: center;
}

.LOJA{
    text-align: center;
}