@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background: #faf1f1;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

span {
    color: #FF9D02;
}

/* header */

header {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.305);
    text-align: center;
}

header .nome-logo>h1 {
    font-family: 'Roboto', sans-serif;
}

header>.nome-logo>h1>span {
    color: #FF9D02;
}

header>.nome-logo>img {
    width: 60px;
    height: 60px;
    margin-right: 25px;
    display: inline-block;
}

.nome-logo {
    display: flex;
}

.nav-I > #barras{
   font-size: 1.7em;
    display: none;
}

  .nav-I a {
    color: #FF9D02;
    text-decoration: none;
    margin-left: 70px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    display: inline;

}

.nav2{    
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    color: #FF9D02;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px 10px 0px;
    display: none;

}

nav>a:hover {
    text-decoration: underline;
    color: #FF9D02;

}

.nav-I {
    display: flex;
}

.icons-header {
    margin-left: 50px;
    color: rgb(18, 17, 29);
    font-size: 1.4em;
}

.icons-header>i {
    padding-left: 30px;
    transition: all .2s linear;
}

.icons-header>i:hover {
    transform: scale(1.2);
    color: #232323;
}


/* parte inicial */

.txt-picture {
    display: flex;
    justify-content: space-between;
}

.text-top>#__M {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    padding: 60px 0px 10px 100px;
    color: #FF9D02;
}


.text-top>h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 10px 100px;
}

.text-top>p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    width: 400px;
    color: #8e8e8e;
    padding: 20px 0px 10px 100px;

}

.text-top>button {
    border: none;
    background-color: #FF9D02;
    color: #fff;
    outline: none;
    font-size: 1.6em;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 15px 30px;
    margin: 20px 0px 0px 100px;
}


.img-top>img {
    width: 730px;
    background-color: #FF9D02;
    padding: 100px;
    border-radius: 100% 0% 58% 42% / 0% 90% 0% 100%;
}

/* segundo topico */

.destaque {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
}
.destaque > h2{
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 100px 0px 50px 0px;
    display: none;
}

.img-destaque>img {
    width: 600px;
    background-color: #FF9D02;
    border-radius: 1% 30% 1% 30%;
}

.txt-destaque>h2 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
}


.txt-destaque>p {
    font-size: 1.2em;
    width: 550px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #8e8e8e;

}

.txt-destaque>button {
    background-color: #fff;
    border: 2px solid #FF9D02;
    color: #FF9D02;
    font-size: 1.6em;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 15px 30px;
    margin: 40px 0px 0px 150px;
}

/* terceiro topico */

#promotion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FF9D02;
    border-radius: 150% 0% 10% 100% / 100% 0% 10% 100%;
    padding-bottom: 100px;

}

main>h2 {
    font-size: 4.2em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#promotion>article{
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.332);
    width: 406px;
    height: 590px;
    text-align: center;
    margin: 40px 20px 10px 20px;
    border-radius: 25px;

}

#promotion>article>h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #232323;
    padding-top: 20px;

}

#promotion>article>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 550;
    text-align: center;
    padding-top: 20px;

}

.produto1>div {
    background-image: url('../imagens/arroz.png');
    width: 406px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
    border-bottom: 2px solid #232323;
    box-sizing: border-box;
}

.produto2>div {
    background-image: url('../imagens/feijao.png');
    width: 406px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
    border-bottom: 2px solid #232323;
    box-sizing: border-box;
}
.produto3>div {
    background-image: url('../imagens/leite.png');
    width: 406px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
    border-bottom: 2px solid #232323;
    box-sizing: border-box;
}
.produto4>div {
    background-image: url('../imagens/oreo.png');
    width: 406px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
    border-bottom: 2px solid #232323;
    box-sizing: border-box;
}
.produto5>div {
    background-image: url('../imagens/detergente.png');
    width: 406px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
    border-bottom: 2px solid #232323;
    box-sizing: border-box;
}
.produto6>div {
    background-image: url('../imagens/banana-da-terra-caixa-800x800-removebg-preview.png');
    width: 406px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
    border-bottom: 2px solid #232323;
    box-sizing: border-box;
}



#promotion button {
    border: 2px solid #232323;
    background-color: #f9b64b;
    color: #232323;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    display: inline-block;
    border-radius: 25px;

}

#promotion button:hover {
    background-color: #FF9D02;
}

/* footer */

footer{
    color: #fff;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;

}
h4{
    font-size: 1.2em;
}

footer P{
    background-color: #1b1b1b;
    text-align: center;
    padding: 10px;
    color: #faf1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#footer-cols{
 padding: 50px 60px;
}

.footer-conteiner{
    display: flex;
    flex-wrap: wrap;
    background-color: #232323;
    padding: 20px;
    margin-top: 100px;
 
}

.footer-coluna1{
    text-align: center;
}

#facee{
    background-color: blue;
    padding: 7px 7px 7px 7px ;
    border-radius: 47%;
    text-align: center;
   
}
#ig{
    padding: 7px 7px 7px 7px;
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #FD1D1D, #F56040, #F77737, #FCAF45);
    border-radius: 47%;
    text-align: center;
}

#tw{
    padding: 7px 7px 7px 7px;
    border-radius: 47%;
    background: linear-gradient(45deg, #1DA1F2, #1877F2);   
     text-align: center;

}

#zap{
    padding: 7px 7px 7px 7px;
    border-radius: 47%;
    background: linear-gradient(45deg, #25D366, #128C7E);
    text-align: center;

}

.footer-coluna1 i{
    transition: all .2s linear;
}
.footer-coluna1 i:hover{
    transform: scale(1.1);
}

.footer-coluna1 img{
    width: 40px;
}

.footer-coluna2 > ul > li{
    list-style-type: none;
    color: #8e8e8e;
 
}

.footer-coluna3 > ul > li ,a{
    list-style-type: none;
    text-decoration: none;
    color: #8e8e8e;
    padding: 8px 0px 0px 0px ;
 
}

.footer-coluna2 >ul>li:hover{
    color: whitesmoke;
}

.footer-coluna3 > ul >li,a:hover{
    color: whitesmoke;
}

.b-I{
    position: relative;
}

.footer-coluna4 > form > .b-I> input{
    border: 2px solid #F77737;
    padding: 20px;
    border-radius: 50px;
    font-size: .6em;

}

.b-I > button{
    padding: 15.1px;
    border-radius: 50%;
    border: 2px solid #F77737;
    position: absolute;
    background-color: #F77737;
    color: white;
    font-size: 1em;
    right: 1px;
}